$font-family: "Epilogue", sans-serif;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 1px solid transparent;
    background-clip: content-box;
}

@mixin blurFixed() {
    background: rgba(255, 255, 255, 0.2);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(187, 187, 187);
    filter: brightness(1) invert(0);
}

@mixin button() {
    padding: 30px 80px;
    margin: 30px 0;

    background-color: #2d2d2d;
    color: white;

    font-size: 28px;

    &__left-side {
        margin: 30px 70px;
    }

    &__right-side {
        margin: 30px 110px;
    }
}

.navbar,
.header,
.skills,
.latest-works,
.footer {
    overflow: hidden;
}

.navbar {
    height: fit-content;

    &__group {
        @include blurFixed();

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;

        font-size: 20px;
    }

    &__group.open {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom: 0px;
        box-shadow: none;
    }

    &__right-side {
        display: flex;

        a {
            padding: 0 10px;
        }
    }

    &__menu-button {
        display: none;
    }

    &__menu {
        display: none;
        position: absolute;
        width: 100%;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition:
            max-height 0.5s ease-in-out,
            opacity 0.1s ease-in-out;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 20px 0;
        }

        li {
            padding: 15px 20px;
        }
    }

    &__menu.open {
        @include blurFixed();
        background: rgb(205 205 205 / 20%);
        z-index: 1000;

        max-height: 300px;
        opacity: 1;
    }

    @media only screen and (max-width: 600px) {
        &__group {
            padding: 0px 30px;
        }

        &__right-side {
            display: none;
        }

        &__menu-button {
            display: block;
            position: absolute;
            top: 20px;
            right: 30px;

            svg {
                width: 50px;
                height: 35px;
            }
        }

        &__menu {
            display: block;
        }
    }
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: 20px 0;
    margin-bottom: 75px;

    font-size: 25px;

    img {
        width: 450px;
        object-fit: cover;
        height: fit-content;
    }

    h1 {
        margin: 0;

        font-size: 72px;
    }

    p {
        font-size: 16px;
        line-height: 35px;
        letter-spacing: 2px;
    }

    button {
        @include button();
    }

    &__left-side {
        display: flex;
        flex-direction: column;
        width: 620px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        img {
            width: 400px;
        }

        &__left-side {
            width: 400px;
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 600px) {
        flex-direction: column;
        align-items: center;

        img {
            display: none;
            width: 350px;
        }

        &__left-side {
            align-items: center;
            text-align: center;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 400px) {
        flex-direction: column;
        align-items: center;

        img {
            display: none;
            width: 350px;
        }

        &__left-side {
            width: 400px;

            align-items: center;
            text-align: center;
        }
    }

    @media only screen and (max-width: 400px) {
        flex-direction: column;
        align-items: center;

        img {
            display: none;
            width: 350px;
        }

        &__left-side {
            width: 350px;

            align-items: center;
            text-align: center;
        }
    }
}

.logo {
    h1 {
        text-align: center;
    }

    @media only screen and (max-width: 600px) {
        img {
            transform: scale(0.8);
        }
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 60px 30px 60px;

    h3 {
        margin: 0;
    }

    &__skill {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 10px;
        margin: 10px;
        width: 250px;

        font-size: 25px;

        p {
            text-align: center;
        }
    }

    &__icon {
        margin: 20px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
    }

    @media only screen and (max-width: 900px) and (min-width: 600px) {
        &__skill {
            padding: 10px;
            margin: 0;
            width: 250px;
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 400px) {
        &__skill {
            padding: 10px;
            margin: 0;
            width: 250px;
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 400px) {
        &__skill {
            padding: 10px;
            margin: 0;
            width: 250px;
            font-size: 16px;
        }

        img {
            transform: scale(0.8);
        }
    }
}

.latest-works {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 10px;
    margin-bottom: 0;

    font-size: 25px;

    h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    &__works {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;

        font-size: 35px;

        img {
            width: 450px;
            height: fit-content;

            margin: 0;
        }

        h5 {
            margin: 20px 0px;
        }
    }

    &__work {
        margin: 20px;
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        &__works {
            img {
                width: 310px;
            }

            h5 {
                font-size: 32px;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                font-size: 18px;
            }
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 600px) {
        &__works {
            img {
                width: 285px;
            }

            h5 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }

        &__work {
            margin: 10px;
        }
    }

    @media only screen and (max-width: 600px) {
        &__works {
            img {
                width: 285px;
            }

            h5 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }

        &__work {
            margin: 10px;
        }
    }
}

.testimonial {
    margin: 60px 30px;
    font-size: 25px;
    width: 100%;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;

        margin: 40px;
        text-align: center;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        width: 350px;
        height: 350px;

        padding: 40px;
        margin: 10px;

        background-color: #f3f3f3;

        p {
            font-weight: 500;
        }
    }

    &__client {
        display: flex;
    }

    &__client-pp {
        margin: 20px;
        margin-top: 0;
    }

    &__client-right {
        display: grid;

        h3 {
            margin: 20px 0 10px 0;
        }

        p {
            margin: 0;
            font-weight: 300;
        }
    }

    @media only screen and (max-width: 1440px) and (min-width: 1200px) {
        margin: 60px 0px;

        &__card {
            transform: scale(0.8);
        }
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        margin: 60px 0px;
        font-size: 22px;

        &__card {
            padding: 30px;
            width: 280px;
            height: 300px;

            transform: scale(0.75);
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 600px) {
        margin: 60px 0px;
        font-size: 18px;

        h1 {
            font-size: 48px;
        }

        &__card {
            height: 250px;
            width: 325px;

            padding: 20px;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 400px) {
        margin: 60px 0px;
        font-size: 18px;

        h1 {
            font-size: 48px;
        }

        &__card {
            height: 250px;
            width: 250px;

            padding: 10px;
        }
    }

    @media only screen and (max-width: 540px) and (min-width: 400px) {
        margin: 60px 0px;

        &__card {
            height: 200px;
            width: 100%;
            padding: 10px;
        }
    }

    @media only screen and (max-width: 400px) and (min-width: 350px) {
        margin: 60px 0px;
        font-size: 18px;

        h1 {
            font-size: 32px;
        }

        &__card {
            height: 250px;
            width: 95%;
            padding: 20px;
        }
    }

    @media only screen and (max-width: 350px) {
        margin: 60px 0px;
        font-size: 16px;

        &__card {
            height: 250px;
            width: 250px;

            margin: 0 20px;
            padding: 20px;
        }
    }
}

.footer {
    padding: 30px 50px;

    form {
        input {
            background-color: #f3f3f3;
            border: 0;

            padding: 10px;
            height: 60px;
            font-size: 20px;
        }
    }

    display: flex;
    justify-content: center;
    flex-direction: column;

    &__contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__container {
        display: grid;
        align-items: flex-start;

        width: 570px;

        p {
            font-size: 20px;
        }
    }

    &__social {
        display: flex;
    }

    &__icon {
        width: 45px;
        height: auto;

        margin-right: 50px;
    }

    &__form {
        display: grid;
        width: 525px;
    }

    button {
        @include button();
        position: relative;
        margin-bottom: 0;
        font-size: 20px;
    }

    button::after {
        content: "Submit"; /* Buton içine eklenecek yazı */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Yazıyı ortalama */
        color: white;
        z-index: 1;
    }

    button.submitted {
        background-color: white;

        &::after {
            content: "Sent"; /* Buton içine eklenecek yazı */
            color: #2d2d2d;
        }
    }

    &__validations {
        margin-bottom: 20px;
        color: red;
    }

    &__confirmation {
        display: none;
    }

    &__confirmation.submitted {
        color: red;
        display: block;
    }

    @media only screen and (max-width: 1200px) and (min-width: 900px) {
        &__container {
            width: 400px;

            p {
                font-size: 18px;
                width: 400px;
            }
        }

        &__icon {
            margin-right: 30px;
        }

        &__form {
            width: 400px;
        }
    }

    @media only screen and (max-width: 900px) and (min-width: 600px) {
        justify-content: center;
        align-items: center;

        &__container {
            width: 450px;
        }

        &__contact {
            flex-direction: column;
        }

        &__social {
            margin-top: 20px;
        }

        &__form {
            width: 450px;
            margin-top: 40px;
        }
    }

    @media only screen and (max-width: 600px) and (min-width: 400px) {
        justify-content: center;
        align-items: center;
        text-align: center;

        &__container {
            width: 350px;
        }

        &__contact {
            flex-direction: column;
        }

        &__social {
            width: 350px;
            margin-top: 20px;
        }

        &__form {
            width: 350px;
            margin-top: 40px;
        }

        &__icon {
            margin-right: 30px;
        }
    }

    @media only screen and (max-width: 400px) {
        justify-content: center;
        align-items: center;
        text-align: center;

        &__container {
            width: 300px;
        }

        &__contact {
            flex-direction: column;
        }

        &__social {
            width: 300px;
            margin-top: 20px;
        }

        &__form {
            width: 300px;
            margin-top: 40px;
        }

        &__icon {
            margin-right: 25px;
        }
    }
}
