@use "../styles/portfolio.scss" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: fit-content;

  justify-self: center;
  align-self: center;

  font-family: $font-family;
}

nav,
main,
footer {
  overflow: hidden;
}
