@use "../styles/portfolio.scss" as *;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
  height: fit-content;

  justify-self: center;
  align-self: center;

  font-family: $font-family;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: sticky;
  top: 0;
  height: auto;
  z-index: 1000;
}
